asgiref==3.2.10
attrs==20.3.0
certifi==2020.11.8
chardet==3.0.4
chromedriver-py==87.0.4280.20
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
Django==3.1.2
django-countries==6.1.3
idna==2.10
iniconfig==1.1.1
packaging==20.7
Pillow==8.0.1
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
pytz==2020.1
requests==2.25.0
selenium==3.141.0
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.2
webdriver-manager==3.2.2
