{% extends 'store/index.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
<h2>Cart</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex:2"></div>
                    <div style="flex:2">Item</div>
                    <div style="flex:2">Price</div>
                    <div style="flex:2">Quantity</div>
                    <div style="flex:2"><strong>TOTAL</strong></div>
                </div>
                {% for i in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{i.product.imageURL}}"></div>
                    <div style="flex:2">{{ i.product.name }}</div>
                    <div style="flex:2">{{ i.product.price|floatformat:2 }}€</div>
                    <div style="flex:2">
                        <h5 style="flex:2" class="quantity">{{ i.quantity }}</h5>
						<div class="quantity">
							<img data-product="{{i.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static 'images/add.png'%}">
							<img data-product="{{i.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static 'images/minus.png'%}">
						</div>
                    </div>
                    <div style="flex:2"><strong>{{ i.get_total|floatformat:2 }}€</strong></div>
                    <div>
                        <img data-product="{{i.product.id}}" data-action="delete" class="chg-quantity update-cart" src="{% static 'images/x.png'%}" title="Delete item" width="50px">
                    </div>
                </div>
                {% endfor %}
            </div>
            <br>
            <div class="box-element">
                <label class="text-black h4" for="coupon">Coupon</label>
                <p>Enter your coupon code if you have one.</p>
                <div class="row form-row">
                  <div class="col">
                    <input class="form-control" id="coupon" placeholder="Coupon Code" type="text">
                  </div>
                  <div class="col col-auto">
                    <button class="btn btn-dark btn-animated">Apply Coupon</button>
                  </div>
                </div>
            </div>
            <br>
            <div class="box-element">
                <a href="{% url 'store' %}" class="btn btn-outline-dark">Continue shopping</a>
                <br>
                <br>
                <table class="table">
                    <tr>
                        <th><h5>Items: <strong>{{ order.get_cart_items }}</strong></h5></th>
                        <th><h5>Total: <strong>{{ order.get_cart_total|floatformat:2 }}€</strong></h5></th>
                        <th>
                            <a style="float:right; margin:5px" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                        </th>
                    </tr>
                </table>
            </div>
            <br>
        </div>
    </div>
</div>
<br>
{% endblock content %}