{% extends 'store/index.html' %}
{% load static %}
{% block content%}
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <div class="container mt-5">
        {% for p in products %}
        <h5>Product</h5>
        <div class="row">
            <div class="col-md-6">
                {% if p.imageURL %}
                <img src="{{ p.imageURL }}" class="img-fluid" alt="Responsive image">
                {% endif %}
            </div>

            <div class="col-md-6">
                <h1>{{p.name}}</h1>
                <h4>Category</h4>
                <p>description of the product</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        {% endfor %}
        </div>



        
    </div>
</body>
{% endblock content %}