{% extends 'store/index.html' %}
{% load static %}
{% block content%}
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<div class="container mt-5">
    <h5>Profile</h5>
    <div class="box-element">
        <img src="{% static 'images/couffin.png' %}">
        <h2>Yassine Jrad</h2>

        <h4>Email</h4>
        <h4>country</h4>
        <h4>city</h4>
        <h4>street</h4>
        <h4>Join date</h4>






    </div>
</div>
</body>
{% endblock content %}