{% extends 'store/index.html' %}
{% load static %}


{% block content %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">
  Your username and password didn't match. Please try again.
</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<div class="jumbotron">
    <div class="center-column">
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" class="btn btn-primary" value="login">
        <input type="hidden" name="next" value="{{ next }}">
        </form>
        <br>
        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        <p><a href="{% url 'signup' %}">Create your account here</a></p>
    </div>
</div>

<style>
.center-column{
        width:350px;
        margin:20px auto;
        padding:20px;
        background-color : #eefab8;
        border-radius: 3px;
        box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
    }

.jumbotron{
    background-color: #eefab8;
}
</style>
{% endblock content %}